{% extends 'base.html' %}
{% load i18n %}


{% block header %}{% translate 'Tasks' %}{% endblock %}
{% block content %}
    <a class="btn btn-primary mb-3" href="{% url 'tasks:create' %}" role="button">{% translate 'Create task' %}</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="center" method="get">
                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="{% translate 'Show' %}">
            </form>
        </div>
    </div>
    <table class="table table-striped">
    <thead>
        <tr>
        <th>ID</th>
        <th>{% translate 'Name' %}</th>
        <th>{% translate 'Status' %}</th>
        <th>{% translate 'Author' %}</th>
        <th>{% translate 'Executor' %}</th>
        <th>{% translate 'Creation date' %}</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in task_list %}
            <tr>
            <td>{{ task.pk }}</td>
            <td>
                <a href="{% url 'tasks:view' task.pk %}">{{ task.name }}</a>
            </td>
            <td>{{ task.status.name }}</td>
            <td>{{ task.author.get_full_name }}</td>
            <td>
                {% if task.executor %}
                    {{ task.executor.get_full_name }}
                {% endif %}
            </td>
            <td>{{ task.created_at }}</td>
            <td>
                <a href="{% url 'tasks:update' task.pk %}">{% translate 'Edit' %}</a>
                <br>
                <a href="{% url 'tasks:delete' task.pk %}">{% translate 'Delete' %}</a>
            </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
