{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">Вход</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
            <input class="btn btn-primary" type="submit" value="{% translate 'Log in' %}">
        </form>
    </div>
{% endblock %}
